@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .card{
    @apply bg-gray-300 my-5
  }
  .list{
	@apply mx-5 mt-4
  }
  .list-content{
    @apply my-5 cursor-pointer border-b border-y-gray-500 w-[350px]
  }
  .sidebar{
    @apply bg-primary p-10 min-h-screen max-h-screen text-white text-2xl
	sticky top-0 left-0
	
  }
  .sidebar li {
    @apply hover:text-darkred cursor-pointer my-5 
  }
  .content-data{
    @apply bg-gray-200 w-full p-2 flex pl-10
  }
  .dashboard-container{
    @apply flex 
  }
  .notification{
	@apply bg-white
  }
  .detail{
	@apply bg-white mx-2 w-full
  }
  .detail-info{
	@apply flex 
  }
  .card{
	@apply w-full mx-4 bg-white shadow-2xl rounded-md p-5
  }
  .form{
	@apply bg-white absolute p-10 top-[50vh] left-[50vw] -translate-x-[50%]
	-translate-y-[50%] 
  }
  .form input {
	@apply border 
  }
}


html {
  scroll-behavior: smooth;
}

table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}

*/